@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
    color: #171a20;
    font-family: 'M PLUS 1', sans-serif;
}

.top-banner {
    background-image: radial-gradient(54.97% 272.54% at 27.36% -134.72%,rgba(108,148,255,.92) 0,rgba(0,0,0,.92) 100%);
    color: white !important;
    width: 100%;
    height: 55px;
    -webkit-box-shadow: 0 0 1px #d0d1d2;
    box-shadow: 0 0 1px #d0d1d2;
    letter-spacing: .7px;
}

.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text .amount{
    padding: 15px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
}

.banner-text .info a{
    font-size: 14px;
    font-weight: 500;
    margin-left: -14px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

.banner-text .info a:hover{
    border-bottom: 2px solid #fff;
}

.banner-text .horizontal_padding{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

header a.logo{
    width: 150px;
    height: 15px;
    margin-top: 10px;
}

header{
    margin-left: 50px;
    margin-right: 10px;
    z-index: 1;
    justify-content: space-between;
    position: fixed;
    display: flex;
}

header a{
    line-height: 30px;
    padding: 0 15px;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: inherit;
}

header nav.center{
    margin-left: 221px;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 5;
}

header nav.center a:nth-child(7){
    padding-right: 154px;
}

.hover{
    /* background-color: rgba(128, 128, 128, 0.15); */
    background-color: hsla(0,0%,0%,.05);
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: all 0.7s;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0, 1);
    /* transition-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86); */
    border-radius: 4px;
    height: 30px;
    display: inline-block;
}

.center a:nth-child(1):hover~.hover{
    opacity: 1;
    left: 0;
    width: 89px;
}
.center a:nth-child(2):hover~.hover{
    opacity: 1;
    left: 91px;
    width: 89px;
}
.center a:nth-child(3):hover~.hover{
    opacity: 1;
    left: 183px;
    width: 89px;
}
.center a:nth-child(4):hover~.hover{
    opacity: 1;
    left: 276px;
    width: 89px;
}
.center a:nth-child(5):hover~.hover{
    opacity: 1;
    left: 368px;
    width: 110px;
}
.center a:nth-child(6):hover~.hover{
    opacity: 1;
    left: 480px;
    width: 120px;
}
.center a:nth-child(7):hover~.hover{
    opacity: 1;
    left: 606px;
    width: 101px;
}
.center a:nth-child(8):hover~.hover{
    opacity: 1;
    left: 849px;
    width: 69px;
}
.center a:nth-child(9):hover~.hover{
    opacity: 1;
    left: 920px;
    width: 89px;
}
.center a:nth-child(10):hover~.hover{
    opacity: 1;
    left: 1012px;
    width: 69px;
}

.main-1{
    display: flex;
    overflow: auto;
    flex: none;
    width: 100%;
    height: 100vh;
    flex-flow: column nowrap;

    /* scroll effect */
    scroll-snap-type: y mandatory;
}

.main-1 > div{
    text-align: center;
    flex: none;

    /* scroll effect */
    scroll-snap-align: center;
    
    width: 100%;
    height: 100vh;
}

.main-1 div img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.main-2{
    position: relative;
}

.head{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    top: 0;
}

.head h1{
    font-size: 45px;
    font-weight: 500;

    /* color imports from body color class */
    color: inherit;
}

.head span{
    color: inherit;
    font-size: 15px;
}

.head a{
    color: inherit;
    text-decoration: none;
    /* cursor: pointer;
    text-underline-position: below;
    -ms-text-underline-position: under; */
    border-bottom: 1px solid;
    padding: 1px;
}

.head a:hover{
    /* text-decoration-thickness: 1.5px; */
    border-bottom: 2px solid;
}

.buttons{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.buttons div{
    display: flex;
    justify-content: center;
}

.btn div{
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    width: 250px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}

#order{
    background-color: rgba(23, 26, 32, 0.5);
    backdrop-filter: blur(8px);
    color: #fff;
}

#inventory{
    background-color: #eeebeb;
    color: inherit;
}

#order, #inventory{
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    margin-bottom: 25px;
}

.blank{
    height: 40px;
}

.buttons .arrow{
    height: 60px;
    font-size: 25px;
    color: inherit;
    animation: updown 1.5s ease infinite;
}

@keyframes updown{
    0%{
        transform: translateY(0);
    }
    10%{
        transform: translateY(5px);
    }
    20%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(5px);
    }
    40%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    60%{
        transform: translateY(0);
    }
    70%{
        transform: translateY(5px);
    }
    80%{
        transform: translateY(0);
    }
    90%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0);
    }
}

main .head h1{
    animation: showspan 1s;
}

main .head span{
    animation: show 2s;
}

@keyframes show{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    40%{
        transform: translateY(30px);
        opacity: 0;
    }
    70%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes showspan{
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.buttons #order{
    animation: order 1s;
}

@keyframes order{
    0%{
        transform: translateX(20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.buttons #inventory{
    animation: inventory 1s;
}

@keyframes inventory {
    0%{
        transform: translateX(-20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.blur{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 99;
    transition: all 1s;
    backdrop-filter: blur(4px);
    background-color: #393c416e;
}
.blur.active{
    display: block;
}

.hdn-sidebar{
    position: absolute;
    right: 0;
    width: 310px;
    opacity: 1;
    transform: translateX(320px);
    transition: all 1.2s;
    z-index: 100;
    height: 100%;
    overflow: scroll;
    background-color: #fff;
}
.hdn-sidebar.active{
    transform: translateX(0px);
    opacity: 1;
}

#mark{
    display: flex;
    justify-content: end;
    padding: 14px;
    background-color: transparent;
    position: sticky;
    z-index: 100;
    right: 0;
}

#mark .bx-navigation{
    font-size: 25px;
    padding: 8px 10px;
    transition: all 0.5s;
    cursor: pointer;
}

#mark .bx-navigation:hover{
    background-color: rgba(233, 233, 233);
    border-radius: 5px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer li{
    list-style: none;
    font-size: 12.5px;
    color: gray;
    font-weight: 500;
    margin-left: 15px;
    z-index: 9999;
}

.hdn-cont{
    margin-top: 15px;
    padding: 1px 30px;
    height: 100%;
}

.hdn-cont li{
    list-style: none;
    padding: 10px 15px;
    font-size: 15px;
    transition: all 0.5s;
    margin-bottom: 2px;
    cursor: pointer;
}
.hdn-cont li:hover{
    background-color: rgba(233, 233, 233);
    border-radius: 5px;
}

.head{
    opacity: 0;
}
.head-1{
    opacity: 1;
    transition: all 1.5s;
}
.head-2, .head-3, .head-4, .head-5, .head-6{
    opacity: 0;
    transition: all 1.5s;
}

.buttons{
    opacity: 0;
}
.buttons-1{
    opacity: 1;
    transition: all 1.5s;
}
.buttons-2, .buttons-3, .buttons-4, .buttons-5, .buttons-6{
    opacity: 0;
    transition: all 1.5s;
    z-index: 1;
}

.active{
    opacity: 1;
}

.hide{
    opacity: 0;
}